* {
  margin: 0;
  padding: 0;
  list-style: none;
}
.container {
  width: 1140px;
  margin: 0 auto;
}

body {
  background-color: rgb(30, 30, 66);
}
.header-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header-title {
  font-family: Sharp Grotesk, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 125.5%;
  margin: 0 0 8px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  width: 1120px;
}
.header-text {
  font-family: AvertaCY, sans-serif;
  font-size: 18px;
  color: rgb(255, 255, 255);
  line-height: 28.8px;
  width: 1120px;
}

.header-item p {
  font-size: 24px;
  font-weight: bold;
  color: white;
  line-height: 125%;
  margin: 10px 0 10px 0;
}

.header-subtext {
  color: #fff !important;
  font-family:sans-serif;
  font-size: 18px !important;
  font-weight: normal !important;
  line-height: 150% !important;
}
